@function font-path($path) {
   @return $path;
}

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$fa-font-path:        "~font-awesome/fonts/";
@import '~font-awesome/scss/font-awesome.scss';

/*
html {
  font-size: 1rem;
}
html,body {
  height:100%;
}

.row {
  margin:0px;
}
*/