.starContainer_starContainer_sizeSmall {
	display: inline-block !important;
	position: relative !important;
	height: 12px !important;
	width: 12px !important;
	margin-right: 3px !important;
}
.star {
	position: absolute !important;
}